<!-- Generated template for the MapComponent component -->

<agm-map #gm
[latitude]="startLoc?.lat"
[longitude]="startLoc?.lng"
[zoom]=16>
  <agm-marker
  *ngFor="let location of locations"
  [latitude]="location.lat"
  [longitude]="location.lng"
  >
    <agm-info-window #infoWindow>
      <strong>{{location.uid}} {{location.dateTime | date:'short'}}</strong>
    </agm-info-window>
  </agm-marker>

  <agm-polyline>
    <agm-polyline-point  *ngFor="let data of aLine"
      [latitude]="data.lat"
      [longitude]="data.lng">
    </agm-polyline-point>
  </agm-polyline>

</agm-map>
